body {
    background-color: #96b3b2;
    color: white;
    font-family: Helveticalalala;
    font-size: 22px;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}

#theme-toggle {
  border: none;
  color: #96b3b2;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 30px 20px;
  cursor: pointer;
  background-color: #333;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-self: baseline;

  position: fixed;
  top: 0px;
  right: 0px; 
  margin: 20px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
}

header {
    color: white;
    text-align: center;
    background-color: none;
    text-decoration: none;
    font-size: 40px;
}

/* Add a black background color and flexbox to the top navigation bar*/
.topnav {
    background-color: #96b3b2;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-self: baseline;
    left: 0;
    right: 0;
    top: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: gray;
    color: white;
    border: 0px solid white;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

h2 {
    font-size: 25px;
}

#big_div {
    border: 3px solid #ffffff;
    margin: 30px;
    padding: 20px;
}

.main_idea {
    text-align: center;
    font-size: 150;
    font: bold;
    margin: 10px;
    padding: 10px;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
}

.sub_div {
    display: flex;
    padding: 15px;
    border: 2px white solid;
    border-radius: 25px;
    background-color: grey;
    color: white
}

img {
    width: 250;
    padding-right: 50px;
}

footer {
    position:static;
    bottom: 0px;
    text-align: center;
}

.link {
    color: white;
}

#toTop {
    border: none;
    color: #96b3b2;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 30px 20px;
    cursor: pointer;
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-self: baseline;

    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin: 20px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
}

.container {
    height: 100%;
  }
 .bg {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
 }

/* Adding image to each div  
  Use https://stocksnap.io/search/nature*/
  
.image1 {
  background-image: url(/nature/Nature01.jpg); 
}
.image2 {
  background-image: url(/nature/Nature02.jpg); 
}

.image3 {
  background-image: url(/nature/Nature03.jpg); 
}

.image4 {
  background-image: url(/nature/Nature04.jpg); 
}

.image5 {
  background-image: url(/nature/Nature05.jpg); 
}

.image6 {
  background-image: url(/nature/Nature06.jpg); 
}

.image7 {
  background-image: url(/nature/Nature07.jpg); 
}

.image8 {
  background-image: url(/nature/Nature08.jpg); 
}

.image9 {
  background-image: url(/nature/Nature09.jpg); 
}

.image10 {
  background-image: url(/nature/Nature010.jpg); 
}

.image11 {
  background-image: url(/nature/Nature011.jpg); 
}

.image12 {
  background-image: url(/nature/Nature012.jpg); 
}

.image13 {
  background-image: url(/nature/Nature013.jpg); 
}

.image14 {
  background-image: url(/nature/Nature014.jpg); 
}

.image15 {
  background-image: url(/nature/Nature015.jpg); 
}

.image16 {
  background-image: url(/nature/Nature016.jpg); 
}

.image17 {
  background-image: url(/nature/Nature017.jpg); 
}

.image18 {
  background-image: url(/nature/Nature018.jpg); 
}



#SlideBox {
    display: flex;
    padding: 15px;
    border: 0px black solid;
    border-radius: 25px;
    background-color: grey;
    color: #96b3b2;
}

* {box-sizing: border-box}
      
.images {display: none}

img {
    vertical-align: middle;
  width:100%;
}

/* Slideshow container */
.carousel-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

/* Next & previous buttons */
.previous, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit seethrough */
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.navigation-dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}
.active, .navigation-dot:hover {
   background-color: #717171;
}